<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weidai.dataMigration.dal.ucore.LoginStatusDOMapper">
    <resultMap id="loginStatusDTOMap" type="com.weidai.ucore.facade.domain.LoginStatusDO">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="password" property="password" />
        <result column="salt" property="salt" />
        <result column="gmt_create" property="createTime" />
        <result column="gmt_modified" property="modifiedTime" />
    </resultMap>
    <insert id="insertBatch" parameterType="com.weidai.ucore.facade.dto.LoginStatusDTO">
        insert into u_login_status(user_id, password, salt, gmt_create, gmt_modified)
        values
        <foreach collection="loginStatusList" item="loginStatus" index="index" separator=",">
            (#{loginStatus.userId}, #{loginStatus.password}, #{loginStatus.salt}, #{loginStatus.createTime}, #{loginStatus.modifiedTime})
        </foreach>
    </insert>
</mapper>